

html, body{
  height: 100%;
}

.intro {

  width: 100%;
  margin:auto;
  margin-top:-20px;
  min-height: 100%;
  text-align: center;
  background: url(../teste1.jpg) no-repeat center center fixed #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  display: block;
  overflow-x: hidden;
  /* Set up positioning */
  position: fixed;

}

 .intro .intro-body .intro-text {
    font-size: 18px;
  }
  

  
  .flyIn{
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
   	padding-left: 70px;
   	padding-right: 70px;
  }
  
  .flyIn:hover {
    background-color: white; 
    color: black;
	}
  
  .start-text{
  	width:100%;
    height:100%;
  	margin: auto;
  	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    align-items: center;
  	display: flex;
  	
  		
  }