
<body>
 <div class="intro">
        <div class="intro-body">
            <div class="container" >
                <div class="start-text" >
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Start Tripping</h1>
                        <p class="intro-text">Where dreams and great adventures are planned.</p>
                           <button class="flyIn" routerLink="main" type="button">Fly In</button>
                    </div>
                       
                </div>
            </div>
        </div>
</div>
</body>

<router-outlet></router-outlet>
