

html, body{
  height: 100%;
}

.intro {

  width: 100%;
  margin-top:-20px;
  min-height: 100%;
  min-width: 1024px;
  text-align: center;
  background-image: url(../teste1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100%;
  -o-background-size: cover;
   height: auto;

  /* Set up positioning */
  position: fixed;
  left: 0;
  
}

 .intro .intro-body .intro-text {
    font-size: 18px;
  }
  
  
  .h1,h1{
  	margin-top:300px;
  }

  
  .flyIn{
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
   	padding-left: 70px;
   	padding-right: 70px;
  }
  
  .flyIn:hover {
    background-color: white; 
    color: black;
	}
  
  .start-text{
  	width:100%;
  	margin-top:-50px; /* should be found a solution for this */	
  }