<body>

	<div class="startTrip">

		<div>
			<h1>Welcome Person, lets start planning your trip...</h1>
		</div>
		<div>
			<form method="post">
				<p>Where do you start?</p>
				<br>
				<input type="text">
				
				<p>Where are you going?</p>
				<br>
				<input type="text">
				
				<p>Start Date</p>
				<br>
				<input type="date">
				
				<p>End date</p>
				<br>
				<input type="date">
				<br>
				<input type="submit" value="I'm Ready to Go">
			</form>
		</div>


	</div>
</body>

<router-outlet></router-outlet>