
<div class="topnav">
	<nav class="navbar">
		<div class="row">
			<div class="col-md" style="float: left;">
				<img src="assets/logo_example.png"
					class= "logoStyle">
			</div>
			<div class="col-md" style="float: left;">
				<a class="navbar-brand mb-3" routerLink="home"> Tripping Cookie</a>
				<a class="nav-link" routerLink="about" style="margin-left: 20px">About</a>
			</div>

			<div class="col-md" routerLinkActive="active">
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com"
						id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Trips </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">New Trip</a> <a
							class="dropdown-item" href="#">Planned Trips</a> 
							<a class="dropdown-item" href="#">Wish Trips</a>
					</div>
				</div>
			</div>
			<div class="col-md" style="float: right;">
				<a class="nav-link" routerLink="login">Login</a> <a class="nav-link"
					routerLink="home">Logout</a>
			</div>
		</div>
	</nav>
</div>


<router-outlet></router-outlet>


<footer class="footer">
	<div class="container text-center">
		<p>Shit is Getting Done; PattyHarder 2018</p>
	</div>
</footer>
